<!-- <div class="container-fluid">
    <div class="row">
        <div *ngFor="let nd of data" class="col-md-3">
            <img src="{{nd.urlToImage}}" width="100%">
            <h5>{{nd.title}}</h5>
            <p>{{nd.description}}</p>

        </div>
    </div>
</div> -->
<h3 style="text-align: center; padding-top: 15px;">Top Headlines</h3>
<marquee class="marquee">
    <h5>For more updates follow us on Instagram @apexnews</h5>
</marquee>
<div *ngFor="let nd of data" class="col-md-3 spread">
    <div class="container mt-3">
        <div class="card bg-light text-dark">
            <div class="row ">
                <div class="col">
                    <img class="card-img-top img" src="{{nd.urlToImage}}" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h6 class="card-title">{{nd.title}}</h6>
                        <a href="#" class="btn btn-primary size-btn" target="_blank" [href]="nd.url">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>